


.MainContainer {

  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  margin-bottom: 0rem;

  span {
    font-size: 30px;
    color: white;
    padding-bottom: 5rem;
  }

}


.ProjectBox {

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 35rem;
  background-color: #262626;
  padding: 1rem;
  border-radius: 10px;
  justify-self: center;
  border: dashed 1px #FFC700;
  height: 35rem;

  &:hover {
    border: dashed 1px #FFECA8;
  }

  span {
    font: 500 1rem "Inter";
    color: #F0F0F0;
    padding-bottom: 1rem;
  }




}

.ProjectBoxText {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 1rem;

  p:first-child {
    padding-bottom: 1rem;
  }
  
  p {
    font: 400 1rem "Inter";
    color: #E0E0E0;
  }
}


.ImgWrapper {

  position: relative;

  img:first-child {
    width: 100%;
    border-radius: 10px;
  }

  
  .ExtLink {

    position: absolute;
    display: flex;
    flex-direction: row;
    background: white;
    bottom: 20px;
    right: 30px;
  
    overflow: hidden;

    max-width: 30px;
    height: 30px;
    align-items: center;
    padding: 0.4rem;
    border-radius: 0.4rem;
    transition: max-width 0.5s ease;


    &:hover {
      max-width: 300px;
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;
      p {
        display: block;
        text-decoration: underline;
        color: #959595;

      }
      img {
        padding-right: 0.5rem;
      }
    }

    p {
      display: none;
    }

    img {
      max-width: 30px;
    }

  }


}


.ProjectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;
  gap: 20vw;
}

.ProjectsMainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;

  > img {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}

@media screen and (max-width: 1800px) {
  
.ProjectsContainer {
  gap: 20vw;
}
}

@media screen and (max-width: 1590px) {
  
  .ProjectsContainer {
    gap: 10vw;
  }
}

@media screen and (max-width: 1390px) {
  
  .ProjectsContainer {
    gap: 2vw;
  }

}

@media screen and (max-width: 1310px) {

  .ProjectsContainer {
    display: flex;
    flex-direction: column;
  }

}