

.HomeContainer {
  display: flex;
  flex-direction: row;
  margin: 0rem 2rem;
  height: 100vh;
  align-items: center;
  justify-content: center;

  img {

    justify-self: top;

    &:hover {
      filter: invert(0%) sepia(34%) saturate(2571%) hue-rotate(358deg) brightness(100%) contrast(105%);
    }

  }

}


.HomeTextArea {

  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 30px;
    color: #FFFFFF;
    padding-bottom: 0.5rem;
  }

  h4 {
    color: #A8A8A8;
    font-size: 28px;
    padding-bottom: 2rem;
  }

  p {
    font: 400 1rem "Inter";
    font-size: 28px;
    color: #D1D1D1;
    padding-bottom: 2rem;
  }

}


.socialLink {

  display: flex;
  flex-direction: row;
  gap: 1rem;

  >img {
    width: 100%;
    max-width: 30px;
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: invert(0%) sepia(34%) saturate(2571%) hue-rotate(358deg) brightness(100%) contrast(105%);
    }

  }

  img:nth-child(2) {
    max-width: 40px;
    cursor: pointer;
  }
  
}


.HomeContainerMobile {

  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;


}

.mobileImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

   >img:nth-child(2) {
     width: 5rem;
   }
}



@media screen and (max-width: '1100px') {

  .HomeTextArea {
    padding-top: 3rem;
  }

}

@media screen and (max-width: '1100px') and (max-height: '680px') {

  .HomeTextArea {
    padding-top: 5rem;
  }

}

@media screen and (max-width: '700px') {
  
  .HomeTextArea {

    h3 {
      font-size: 22px;
    }

    h4 {
      font-size: 25px;
    }

    p {
      font-size: 23px;
    }

  }

  .mobileImg {

     >img:nth-child(2) {
       width: 4rem;
     }
  }

}

@media screen and (max-width: '460px') {
  .mobileImg {

    >img:nth-child(2) {
      width: 3rem;
    }
 }
}
