

.MainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(31, 31, 31, 0.9);
  z-index: 111;
  
  > img {
    max-width: 20rem;
    cursor: pointer;
  }
}

.HeaderMenu {
  color: white;
  margin-right: 3rem;
  
  span {
    cursor: pointer;
    padding: 0 1.5rem;
    display: inline-block;
    position: relative;
    font-size: 20px;
    transition: color 0.2s;
    transition: background-color 1s;

    &.active::after {
      content: '';
      height: 3px;
      width: 90%;
      position: absolute;
      bottom: -3px;
      left: 5%;
      background: #FFC700;
    }

    &:not(.active):hover {
      color: #C5C5C5;
    }

    &:not(.active):hover::after {
      content: '';
      height: 3px;
      width: 90%;
      position: absolute;
      bottom: -3px;
      left: 5%;
      background-color: #ffc80069;
    }


  }
}


.mobileMenu {
  img {
    width: 3rem;
  }
}


.sideBar {
  width: 0; 
  .sideBarContent {
    display: none;
  }
}


.sideBarOpen {
  background: #121212;
  position: fixed;
  z-index: 99;
  margin: 1rem;
  right: -3%;
  top: -4%;
  width: 30%;
  -webkit-transition: width .5s; 
  transition: width .5s; 

  .sideBarContent {
    
    img {
      position: fixed;
      top: 4%;
      right: 2%;
    }

    >nav {
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding: 4rem;
      margin-top: 2rem;

      div {
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        align-items: center;
        justify-content: center;
        a {
          padding: 1rem;
          color: white;
          margin-bottom: 1rem;
        }
      }
    }
    }
}



.mobileBackground {
  background: rgba(0, 0, 0, 0.6);;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}



@media screen and (max-width: '570px') {

  .sideBarOpen {
    width: 50%;
  }


}